<%-include("header")-%>
  <!-- < %if(kindOfDay==="Saturday"|| kindOfDay==="Sunday"){%>
      <h1 style="color:purple">< %=kindOfDay%> ToDo List</h1>
    < %}else{%>
       <h1 style="color:blue">< %=kindOfDay%> ToDo List</h1>
     < %}%> -->
     <!-- These scriplet tags work on line by lne basis
     and have to be added at the start and end of
     every non HTML line and allows us to do control flow
      but does not ouput anything -->
      <div class="box" id="heading">
        <h1><%= listTitle %> </h1>
      </div>
      <div class="box">
        <%newListItems.forEach(function(item){%>
          <form action="/delete" method="post">
            <div class="item">
              <input type="checkbox" name="checkbox" value=<%=item._id%> onChange="this.form.submit()">
              <!-- When no value is given only the status of the checkbox is passed, if on or not -->
              <p><%= item.name%></p>
            </div>
            <input type="hidden" name="listName" value="<%=listTitle%>"></input>
          </form>

          <%});%>
          <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value="<%=listTitle%>">+</button>
            <%# The value is only the first word of value, here value is work list so only work gets stored %>
          </form>
      </div>
<%-include("footer")-%>
